<md-card>
  <md-card-header>
    <div md-card-avatar>
      <i md-list-icon class="{{question.icon}} icon"></i>
    </div>
    <md-card-title>
      <h2>{{question.title}}</h2>
    </md-card-title>
    <md-card-subtitle>
      <small>Sacha Lifszyc - {{question.createdAt | amLocale: 'es' | amTimeAgo }}</small>
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>{{question.description}}</p>
  </md-card-content>
</md-card>
<div class="answers">
  <h3>Respuestas</h3>
  <ul class="answers-list" *ngIf="question.answers.lenght > 0">
    <li>
      <h5>
        Paula Becerra
        <small>hace unos segundos</small>
      </h5>
      <p class="description">
        Yo tengo la respuesta!
      </p>
    </li>
    <li>
      <h5>
        Paula Becerra
        <small>hace unos segundos</small>
      </h5>
      <p class="description">
        Yo tengo la respuesta!
      </p>
    </li>
    <li>
      <h5>
        Paula Becerra
        <small>hace unos segundos</small>
      </h5>
      <p class="description">
        Yo tengo la respuesta!
      </p>
    </li>
  </ul>
  <p *ngIf="question.answers.length === 0">Sé el primero en responder esta pregunta</p>
  <app-answer-form></app-answer-form>
</div>
